extends {default-template}
include ../components/xmas/template.jade

block container
  
  .layout__header
    .text
      .text__sm we wish you a
      .text__lg Merry Christmas
      .text__md and happy a New Year

  .layout__main
    +xmas
